
.article-info {
    justify-content: space-between;
}

.comment-image {
    height: 100%;
    width: 100%;

}

.comment-div {
    margin-top: 30px;
}


.comment-div > .row {
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
}

.comment-div textarea {
    height: 100%;
    width: 100%;
    overflow: auto;
    resize:none;
}

.comment-div button {
    height:70%;
    width: 100%;
    margin: auto auto;
}

#showCommentDiv textarea{
    border: none;
}

.IndexOfCommentDiv{
    display: flex;
    line-height: 100%;
    text-align: center;
    
}