/* Header */
header {
    background-color: rgb(50, 50, 50);
}

header li, header button {
    margin: 5px 5px 5px 0px;
}


/* Body */
body {
    background-image: url('/static/images/bg/bg_game_index.jpg');
    background-size: cover;
}

.card {
    padding: 25px 50px;
}

.jumbotron {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card, .jumbotron {
    background-color: rgb(105, 105, 120, 0.5);
    color: white;
}

.list-group-item {
    background-color: rgba(83, 83, 95, 0.5);
    color: white;
}

.list-group-item:hover {
    background-color: rgba(216, 216, 216, 0.5);
    color: black;
}

.bg-trans-grey {
    background-color: rgb(105, 105, 120, 0.5);
}

.bg-trans-light-grey {
    background-color: rgba(199, 199, 214, 0.8);
}

/* Footer */
footer {
    background-color: rgb(50, 50, 50);
}

footer a:hover{
    background-color: gray;
    text-decoration: none;
}

footer a {
    display: block;
    height: 50px;
    margin: 0px auto;
    line-height: 50px;
    text-align: center;
    color: white;
}


/* remove the small arrow on the dropdown for portrait */
#portrait_dropdown .dropdown-toggle::after {
    display:none;
}

.btn-light {
    border: 0;
}

hr {
    border: 0.5px solid gray;
}