
.niceText{
    color: white;
    text-align: center;
    text-decoration: none;
}

.MyTop li,button{
    margin: 5px 5px 5px 0px;
}

.MyBottom{
    background-color: red;

}

.MyBottom{

    background-color: rgb(50, 50, 50);
}

.MyBottom a{

    display: block;
    height: 50px;
    margin: 0px auto;
    line-height: 50px;
    text-align: center;
}

.MyBottom a:hover{
    background-color: gray;
    text-decoration: none;
    color: white;
}

.basePortrait{
    width: 30px;
    height: 30px;
    padding: 0px;
    margin: 0px;
    border-radius:50%;
};

/* set the text of portrait to the center */
.baseProtrait .basePortraitUserName{
    font: 700 white 24px; 
    line-height: 50px;
}

/* remove the small arrow on the dropdown for portrait */
#portraitDropDown .dropdown-toggle::after {
    display:none;
}