{% extends 'gamers_havn/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}


{% block body_block %}
    <div class="jumbotron-fluid min-vh-100 text-white">
        <div class="container text-center pt-5">
            <h1 class="display-4 font-weight-bold">About</h1>
            <br><br>
            <hr>
            <br><br><br>
            <p class="font-weight-bold">This websites is designed and developed by: </p>
            <p>YONGJIA JIN (2466120J)<br></p>
            <p>XINGCHEN ZHAO(2432051Z)<br></p>
            <p>YONGJIA JIN(2466120J)<br></p>
            <p>FANGYUAN BAO(2491710B)<br></p>
            <br><br>
            <p class="font-weight-bold">The source code of this website is on : </p>
            <a class="text-muted" href="https://github.com/TheWerewolves/IT_Team_Project/tree/master">https://github.com/TheWerewolves/IT_Team_Project/tree/master</a>
        </div>
    </div>
{% endblock %}

