{% extends 'gamers_havn/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ game.title }}
{% endblock %}


{% block body_block %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Change Password</h1>
            <p class="lead">Change your password here</p>
            <hr class="my-4">
        </div>

        <div class="row ml-auto mt-4">
            <div class="list-group col-md-3 col-sm-12">
                <a href="{% url 'gamers_havn:profile' user_profile.user.username %}" class="list-group-item list-group-item-action">Personal Infomation</a>
            {% if user.username == user_profile.user.username %}
                <a href="{% url 'gamers_havn:change_password' user_profile.user.username %}" class="list-group-item list-group-item-action bg-primary text-light">Change Password</a>
            {% endif %}
                <a href="{% url 'gamers_havn:created_articles' user_profile.user.username %}" class="list-group-item list-group-item-action">Created Articles</a>
                <a href="{% url 'gamers_havn:favorite_articles' user_profile.user.username %}" class="list-group-item list-group-item-action">Favorite Articles</a>
                <a href="{% url 'gamers_havn:followed_games' user_profile.user.username %}" class="list-group-item list-group-item-action">Followed Games</a>
            </div>

            <div class="rightProfile col-md-9 col-sm-12">
                <form id="edit_profile_form" method="post" action=".">
                {% csrf_token %}
                    <div class="form-group">
                        <div class="form-group">
                            <div >
                                <label> Old Password </label>
                                <input name="old_password" type="password" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div >
                                <label> New password </label>
                                <input name="new_password" type="password" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label> Comfirm your password </label>
                            <input name="confirm_password" type="password" class="form-control">
                        </div>

                        <div class="form-row d-flex justify-content-center my-4">
                            <span class="text-danger">{{ change_pw_message }}</span>
                        </div>

                        <div class="form-row d-flex justify-content-center my-4">
                            <div class="col-2"></div>
                            <button id="submitPWBtn" type="submit" class="btn btn-secondary col-3">Submit</button>
                            <div class="col-2"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
