{% extends 'gamers_havn/base.html' %}
{% load staticfiles %}
{% load gamers_havn_template_tags %}


{% block title_block %}
    Edit Article
{% endblock %}


{% block css_block %}
    <link rel="stylesheet" href="{% static 'css/edit_article.css' %}" rel="stylesheet">

    <!-- css for markdown editor -->
    <link rel="stylesheet" href="http://lab.lepture.com/editor/editor.css" />
{% endblock %}
    

{% block body_block %}
    <div class="jumbotron container">
        <h1 class="display-4">Create your article!</h1>
        <p class="lead">This is a markdown editor.</p>
        <hr class="">

        <!-- Dropdown to change the game of the article -->
        <div class="d-flex justify-content-evenly align-items-center">
            <div> This is an article for: </div>
            <div class="dropdown ml-2">
                <a id="selected_game" class="nav-link dropdown-toggle text-white font-weight-bold" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if article %}
                    {{ article.game }}
                {% elif game %}
                    {{ game }}
                {% else %}
                    {{ games.first }}
                {% endif %}
                </a>
                <div id="select_game_div" class="dropdown-menu">
                {% for game in games %}
                    <a class="dropdown-item" href="#">{{ game.title }}</a>
                {% endfor %}
                </div>
            </div>
        </div>
        
        <!-- Markdown Editor -->
        <div class="card p-4 border-0 bg-trans-light-grey" id="editor">
            <div class="jumbotron py-2 border-0 align-items-center d-flex">
                <strong>Title</strong>
                <input id="input_article_title" class="mx-3 mt-2 w-100 bg-trans-grey text-white border-0" type="text" placeholder="Title" maxlength="128" value="{{ article.title }}">
            </div>

            <div class="card py-2 border-0">
                <small class="mx-2 my-1" >Use the markdown format to write your article gracefully</small>
                <textarea value="{{ article.content|safe }}">{{ article.content|safe }}</textarea>
                <div class="row justify-content-center mx-2">
                    <button id="exit_edit_btn" class="btn btn-light col-4 mx-4" data-url="{% url 'gamers_havn:index' %}">Exit Editor</button>
                    <button id="post_article_btn" class="btn btn-light col-4 mx-4" data-articleid="{%if article%}{{ article.id }}{%else%}-1{%endif%}">Post Your Article</button>
                </div>  
            </div>
        </div>
    </div>
{% endblock %}


{% block js_block %}
    <!-- js for markdown editor -->
    <script type="text/javascript" src="http://lab.lepture.com/editor/editor.js"></script>
    <script type="text/javascript" src="http://lab.lepture.com/editor/marked.js"></script>

    <script src="{% static 'js/edit_article.js' %}"></script>
{% endblock js_block %}
    