{% extends 'gamers_havn/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ user_profile.user.username }}'s Favorite Articles
{% endblock %}


{% block body_block %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Favorite Articles</h1>
            <p class="lead">Articles favorited by {{ user_profile.user.username }}</p>
            <hr class="my-4">
        </div>

        <div class="row mx-auto mt-4">
            <div class="list-group col-md-3 col-sm-12">
                <a href="{% url 'gamers_havn:profile' user_profile.user.username %}" class="list-group-item list-group-item-action">Personal Infomation</a>
            {% if user.username == user_profile.user.username %}
                <a href="{% url 'gamers_havn:change_password' user_profile.user.username %}" class="list-group-item list-group-item-action">Change Password</a>
            {% endif %}
                <a href="{% url 'gamers_havn:created_articles' user_profile.user.username %}" class="list-group-item list-group-item-action">Created Articles</a>
                <a href="{% url 'gamers_havn:favorite_articles' user_profile.user.username %}" class="list-group-item list-group-item-action bg-primary text-light">Favorite Articles</a>
                <a href="{% url 'gamers_havn:followed_games' user_profile.user.username %}" class="list-group-item list-group-item-action">Followed Games</a>
            </div>

            <div class="rightProfile card col-md-9 col-sm-12">
            {% include 'gamers_havn/article_list.html' %}
            </div>
        </div>
    </div>
{% endblock %}
