{% extends 'gamers_havn/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ game.title }}
{% endblock %}


{% block body_block %}
    <div class="container">
        <div class="jumbotron">
            <img src="{% static 'images/games/' %}{{ game.slug }}.png" alt="{{ game.slug }}.png">
            <h1 class="display-4">{{ game.title }}</h1>
            <p class="lead">This is the page for {{ game.title }}</p>
            <hr class="my-4">
        </div>

        <div class="row mx-auto">
            <div class="card col-md-12 col-sm-12 my-auto">
                <form>
                    <div class="ArticleOrderType row d-flex justify-content-center">   
                        <button id="orderby_date_btn" class="btn btn-light col-3">Order By Date</button>
                        <button id="orderby_views_btn" class="btn btn-secondary col-3">Order By Views</button>
                        <button id="orderby_likes_btn" class="btn btn-light col-3">Order By likes</button>
                    </div>      

                    {% include 'gamers_havn/article_list.html' %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
