{% extends 'gamers_havn/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login
{% endblock %}


{% block body_block %}
    <div id="LogFrame" class="text-align-center text-white" >
        <div class="container-fluid logDiv">
            <div class="row">
                <div class="col-lg-6 col-sm-12 min-vh-100 bg-trans-grey" >
                    <div class="row align-items-center h-100">
                        <div class="col-2"></div>
                        
                        <form class="col-8 text-center" method="post" action=".">
                        {% csrf_token %}

                        {% if username %}
                            <label class="text-danger">Wrong user name or password, please try again.</label>
                        {% endif %}

                            <br><br>

                            <div class="form-group">
                                <label>User Name</label>
                                <input type="text" name="username" class="form-control" id="exampleInputEmail1" placeholder="User Name" value="{{ username }}">
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" value="{{ password }}">
                            </div>

                            <button type="submit" class="btn btn-secondary w-50">Log in</button>
                            <br><br>

                            <a href="{% url 'social:begin' 'twitter' %}">
                                <button type="button" class="btn btn-primary w-50" ><i data-feather="twitter"></i> Login with Twitter </button>
                            </a>
                        </form>
                        
                        <div class="col-2"></div>
                    </div>
                </div>
                
                <div class="col-lg-6 col-sm-0"></div>
            </div>
        </div>
    </div>
{% endblock %}
